* {
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: black;
}

nav {
  min-width: 50%;
  width: 100%;
  min-height: 10vh;
  background: #fef6c9;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul > li {
  padding-left: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.site-header {
  background-color: #23c7d9;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
  display: block;
}

.logo_text {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: white;
  margin-bottom: 5px;
}

.site-header span {
  color: white;
}

.main-content section {
  min-width: 50%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 15px 5px;
}

.placeView {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 10px 15px;
}

.placeView a,
.place a {
  text-decoration: none;
  padding: 10px 15px;
  color: black;
}

.place {
  width: 80%;
  padding: 10px 15px;
  margin: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.placeImg {
  width: 20%;
}

.address_data {
  padding: 5px 20px;
}

.opinion {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.opinion form > label,
.opinion h3 {
  padding-top: 15px;
  padding-bottom: 20px;
}

.opinion form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 30px;
  padding-bottom: 60px;
}

.submit {
  padding: 10px 15px;
  margin: 10px 15px;
  width: 60%;
  background-color: #23c7d9;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.submit:hover {
  background-color: transparent;
  color: #49aaff;
  border: 1px solid #49aaff;
}

#comments {
  width: 70%;
  height: 100px;
  text-align: center;
}

.comment {
  border: 1px solid #f27127;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  flex-wrap: wrap;
  width: 40%;
  margin: 10px 15px;
}

.username {
  padding: 5px 15px;
}

.date {
  padding: 5px 15px;
}

.comments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
}

#userName {
  width: 70%;
  text-align: center;
}
